/*
 JSmag Styles from Revolunet
*/

body {
  padding-top: 150px;
  background: url('../img/pattern.png') repeat;
  background-attachment: fixed;
  color: white;
}
.jshead {
  height: 95px;
  padding: 10px 0;
  background-color: rgba(247, 223, 30, 0.9);
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 black;
  text-align: center;
  box-shadow: 0 3px 20px black;
}
footer {
  height: 10px;
  line-height: 10px;
  color: #444;
}
.booksection {
  margin-bottom: 30px;
}
.booksection #cover {
  float: left;
  position: relative;
  width: 140px;
  height: 184px;
  margin-right: 20px;
  outline: 3px solid white;
}
.booksection p.description {
  height: 70px;
  padding-bottom: 18px;
  overflow: hidden;
}
.booksection p.level {
  color: grey;
}

h1, #headerlink, h1 a {
  font: normal 32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  color: #2f2e2d;
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.6);
  line-height: 25px;
}
h1 {
  margin-top: 8px;
}
h1 small, h1 small a, #headerlink {
  font-size: 18px;
}
h1 small a, h1 small a:hover {
  color: #999;
  text-decoration: none;
}
#headerlink {
  font-size: 14px;
  color: #9e8c09;
}
#headerlink:hover {
  text-decoration: none;
}
h2,
h4 {
  text-transform: uppercase;
  font: bold 16px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  line-height: 18px;
  color: #efa121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h3 {
  line-height: 13px;
}
h3 a {
  text-decoration: underline;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cfb798;
}
h3 a:hover,
h3 a:active {
  color: #cfb798;
}
hr {
  margin: 8px 0;
  border-top: 1px solid rgba(240, 240, 240, 0.4);
  border-bottom: none;
}
#twittit {
  position: absolute;
  right: 90px;
  top: 50%;
  margin-top: -9px;
}
a#infos {
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -13px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font: bold 26px Arial, Helvetica, sans-serif;
  line-height: 26px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
a#infos:hover {
  text-decoration: none;
  color: #1a1a1a;
  text-shadow:none;
}
#helpinfo {
  padding: 10px 20px;
  background: rgba(240, 240, 240, 0.2);
  border-radius: 4px;
  margin-bottom: 50px;
  box-shadow: 0 0 4px white;
}
#helpinfo h4 {
  margin-bottom: 4px;
  color: #f7df1e;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
#helpinfo p,
#helpinfo a {
  color: rgba(255, 255, 255, 0.9);
}
#helpinfo a {
  text-decoration: underline;
}
#helpinfo a:hover {
  text-decoration: none;
}
#helpinfo input[type="submit"] {
  margin-top: -7px;
}
#helpinfo ul {
  list-style-type: none;
  margin-left: 0;
}
#helpinfo ul li {
  display: inline;
  margin-right: 5px;
}
#helpinfo ul li a {
  cursor: pointer;
  text-decoration: none;
}
#helpinfo ul li a:hover {
  text-decoration: none;
}
.btn {
  font: bold 15px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  width: 100px;
  background: #f7df1e;
  background: -moz-linear-gradient(top, #f7df1e 0%, #edc536 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7df1e), color-stop(100%, #edc536));
  background: -webkit-linear-gradient(top, #f7df1e 0%, #edc536 100%);
  background: linear-gradient(to bottom, #f7df1e 0%, #edc536 100%);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 1px 0px 0 #ffffff inset, 0 1px 2px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 1px 0px 0 #ffffff inset, 0 1px 2px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 1px 0px 0 #ffffff inset, 0 1px 2px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: none;
}
.btn:hover {
  background-position: 0;
  background: #f7d320;
  background: -moz-linear-gradient(top, #f7d320 0%, #ddbe33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7d320), color-stop(100%, #ddbe33));
  background: -webkit-linear-gradient(top, #f7d320 0%, #ddbe33 100%);
  background: -o-linear-gradient(top, #f7d320 0%, #ddbe33 100%);
  background: linear-gradient(to bottom, #f7d320 0%, #ddbe33 100%);
}
.btn:active {
  color: white;
  background-color: #f7df1e;
  text-shadow: none;
}
.footer {
  padding: 10px 0;
  text-align: center;
}
/* RESPONSIVE LAYOUT */
@media (min-width: 1200px) {
  
}
@media (min-width: 980px) and (max-width: 1200px) {
  h2 {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .booksection #cover {
    float: none;
    width: 228px;
    height: 298px;
    margin-bottom: 10px;
  }
  .btn {
    width: 190px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 100px;
  }
  .jshead {
    height: 57px;
  }
  .jshead img {
    max-width: 100px;
  }
  h1 {
    font: normal 14px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  }
  .booksection {
    height: 200px;
  }
  .booksection #cover {
    width: 140px;
    height: 184px;
  }
  .btn {
    width: 90px;
  }
  .github {
    display: none;
  }
  #twittit {
    position: absolute;
    width: 120px;
    top: 50%;
    margin-top: -9px;
  }
  #headerlink {
    font-size: 11px;
    display: inline;
  }
}
@media (max-width: 480px) {
  .btn {
    width: 120px;
  }
  .booksection {
    height: 170px;
  }
  .booksection #cover {
    width: 110px;
    height: 154px;
  }
  .booksection p.description {
    height: 50px;
    padding-bottom: 5px;
    overflow: hidden;
  }
  .github {
    display: none;
  }
  #twittit {
    display: none;
  }
}
