html, body {
  background-color: #eee;
}
body {
  padding-top: 40px;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
}

.nav-logo img {
  margin-top: 5px;
  margin-right: 8px;
}

/*************************************************
  * Home page
  ************************************************/

.copy-this {
  width: 80%;
  height: 200px;
}

.gdocs-url {
  width: 80%;
}

/*************************************************
  * Listify
  ************************************************/

.record {
  border-bottom: #eee 1px solid;
  padding: 5px;
}

/*************************************************
  * Demo
  ************************************************/

.booky .record {
  margin-bottom: 30px;
}
.booky .record .cover {
  float: left;
  position: relative;
  width: 150px;
  height: 184px;
  margin-right: 20px;
  outline: 3px solid white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.booky .record p.description {
  height: 70px;
  padding-bottom: 18px;
  overflow: hidden;
  font-size: 85%;
}
.booky .record p.level {
  color: grey;
}

.booky h2,
.booky h4 {
  text-transform: uppercase;
  font: bold 16px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.booky h3 {
  line-height: 13px;
}
.booky h3 a {
  text-decoration: underline;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cfb798;
}
.booky h3 a:hover,
.booky h3 a:active {
  color: #cfb798;
}

